
numpy==2.0.2
pandas>=2.2.0
scipy>=1.13.1
scikit-learn==1.5.0
gensim>=4.4.0

polars
tqdm
lightgbm
catboost>=1.2.8,<1.3.0
xgboost==2.0.3 
dill
optuna
colorama
regex
unidecode
ftfy
nltk
emoji
pytorch_tabnet
matplotlib>=3.8.0
seaborn
cir-model
pyspellchecker
